html,
body {
  width: 75%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
 
}
h1 {
  color: Black;
}
.container {
  width: 510px;
}
#inputField {
  width: 400px;
  height: 46px;
  padding-left: 10px;
  border: 1px solid black;
  margin: 0 auto;
  border-radius: 5px;
  outline: none;
  font-size: 25px;
  vertical-align: middle;
}
.btn {
    height: 50px;
    width: 80px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    vertical-align: middle;
    font-size: 20px;
    margin-left: 10px;
}
.taskContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 800px;
  padding: 10px;
  background-color: skyblue;
  border-radius: 10px;
}
.task {
  width: 400px;
  padding: 3px;
  border-radius: 10px;
  font-size: 20px;
  color: black;
}

#input{
  width: 400px;
}
  .delete-btn {
  height: 50px;
  width: 150px;
  border: 1px solid black;
  border-radius: 10px;
  vertical-align: middle;
  font-size: 20px;
  margin-left: 100px;
}
.complete-btn {
  height: 50px;
  width: 150px;
  border: 1px solid black;
  border-radius: 10px;
  vertical-align: middle;
  font-size: 20px;
  margin-left: 100px;
}
.strikeh {
  text-decoration: line-through solid 5px black;
}
